<div class="modal-header">
    <h3 class="modal-title">
        <span ng-class="{loweropacity: minuteMode}" ng-click="changeClockMode('h')">{{ selected.hour }}</span>:<span ng-class="{loweropacity: !minuteMode}" ng-click="changeClockMode('m')">{{ selected.minute < 10 ? '0' + selected.minute : selected.minute  }}</span>
    </h3>
    <div class="ampm">
        <h4 ng-class="{loweropacity: isPM}" ng-click="isPM = false">AM</h4>
        <h4 ng-class="{loweropacity: !isPM}" ng-click="isPM = true">PM</h4>
    </div>
</div>

<div class="modal-body">
    <div class="clock" 
         ng-mousemove="mouseMoveOverClock($event)" 
         ng-mousedown="mouseDown = true" 
         ng-mouseup="mouseDown = false" 
         ng-init="mouseDown = false">

        <div ng-repeat="digit in clockDigits" class="clock-time" style="margin-left: {{digit.left}}px; margin-top: {{digit.top}}px;">
            <a class="hour" ng-class="{selected: isTimeSelected(digit.value)}" 
               ng-click="setTime(digit.value)"
               ng-mouseup="changeClockMode('m')">{{digit.display}}</a>
        </div>

        <div class="clock-hour-line" ng-style="rotate"></div>
        <div class="clock-minute-line"></div>
        <div class="clock-center"></div>

    </div>
</div>

<div class="modal-footer">
    <button class="btn" type="button" ng-click="cancel()">CANCEL</button>
    <button class="btn" type="button" ng-click="ok()">OK</button>
</div>